*{
    padding: 0px;
    margin: 0px;
}
body{
    background-image: linear-gradient(75deg,#FF512F, #DD2476);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#outerContainer{
    width:80%;
    height:70vh;
    background-image: linear-gradient(75deg,#fff82f91, #24ddafc1);
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    justify-content: center;
    align-items: end;
}
#innerContainer{
    width: 60%;
    height: 50vh;
    background-color: white;
    border-radius: 10px 10px 0px 0px ;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}
h1{
    color: white;
    font-size: 40px;
    letter-spacing: 10px;
}
#emailDiv,#passDiv{
    width: 60%;
    height: 40px;
    border: 3px solid royalblue;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
}
.inputTag{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    text-align: center;
    font-size: 2vw;
    color: white;
}
#visibleLogo{
    width: 30px;
    border-radius: 100%;
    border: 2px solid royalblue;
    position: absolute;
    right: 5px;
}
#loginButton{
    width: 40%;
    height: 40px;
    border-radius: 200px;
    border: 3px solid #DD2476;
    background-color: transparent;
    color: #FF512F;
    font-size: 2.1vw;
    font-weight: bold;
    letter-spacing: 10px;
}
#loginButton:hover{
    border-color: lawngreen;
    color: white;
}
#status{
    color:red;
}
#account{
    position: absolute;
    bottom: 7%;
    color: white;
}